.slider {
    height: 100vh;
    position: relative;
    left: 0;
    overflow: hidden;
    padding: 0;
    .flickity-viewport {
        height: 100% !important;
    }
    &__list {
        height: 100%;
        width: 100%;
        &-item {
            position: relative;
            // display: none;
            width: 100%;
            height: 100%;
            &.active {
                // display: block;
            }
            .bgr {
                overflow: hidden;
                object-fit: cover;
                position: absolute;
                z-index: 0;
                width: 100%;
                height: 100%;
                @include imgpst;
            }
            .textbox {
                position: absolute;
                @include imgpst;
                z-index: 20;
                display: flex;
                flex-direction: column;
                align-items: center;
                &__title {
                    text-transform: uppercase;
                    font-size: var(--fs83);
                    color: var(--brown-cl);
                    font-family: pb;
                    line-height: 83px;
                    letter-spacing: 6.889px;
                    @include sm {
                        --fs83: 60px;
                        font-size: var(--fs83);
                        // letter-spacing: normal;
                    }
                    @include xxs {
                        --fs83: 36px;
                        font-size: var(--fs83);
                        width: 100%;
                        // letter-spacing: normal;
                    }
                }
                .more {
                    margin-top: 35px;
                    line-height: 0;
                    border: 1px solid var(--white-cl);
                    padding: 20px 40px;
                    @include trans;
                    span {
                        margin-right: 17px;
                    }
                    &:hover {
                        color: var(--white-cl);
                        background: var(--brown-cl);
                    }
                    @include sm {
                        padding: 15px 20px;
                        margin-top: 10px;
                    }
                    @include xs {
                        padding: 12px 14px;
                        margin-top: 0;
                    }
                }
            }
        }
    }
    &__bottom {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding-bottom: 30px;
        .container-fluid {
            @include dflex;
            justify-content: space-between;
            align-items: end;
        }
        &-paging {
            @include dflex;
            .text {
                line-height: 40px;
                padding-left: 60px;
                font-size: 42px;
                color: var(--brown-cl);
                font-family: pb;
                position: relative;
                @include sm {
                    padding-left: 0;
                }
                &::before {
                    content: "";
                    display: block;
                    width: 45px;
                    height: 3px;
                    background-color: var(--brown-cl);
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    @include sm {
                        display: none;
                    }
                }
            }
            .flickity-page-dots {
                @include dflex;
                position: relative;
                padding: 0;
                bottom: 0;
                .dot {
                    &.is-selected {
                        background-color: var(--brown-cl);
                        opacity: 1;
                    }
                    @include xs {
                        display: none;
                    }
                }
            }
        }
        &-mouse {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            @include dflex;
            flex-direction: column;
            .m {
                &:nth-child(1) {
                    margin-bottom: 8px;
                }
                &:last-child {
                    position: relative;
                    animation: mymove 1.2s infinite;
                    @keyframes mymove {
                        from {
                            transform: translateY(0);
                        }
                        to {
                            transform: translateY(20px);
                        }
                    }
                }
                @include xs {
                    display: none;
                }
            }
        }
        &-control {
            @include dflex;
            &-btn {
                cursor: pointer;
                border: 1px solid var(--white-cl);
                padding: 13px 17px;
                @include trans;
                &:hover {
                    background-color: var(--brown-cl);
                }
                &.active {
                    background-color: var(--brown-cl);
                }
            }
            .pre {
                rotate: 180deg;
                border-left: none;
            }
        }
    }
    --heightSlider: 440px;
    @include xxs {
        height: var(--heightSlider);
    }
}

// product
.scproduct {
    position: relative;
    padding-top: 90px;
    &__product-item {
        &.--right {
            margin-bottom: 105px;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
            .content {
                max-width: 494px;
                text-align: start;
                padding-left: 100px;
                padding-right: 60px;
                .title {
                    &::after {
                        left: -100px;
                    }
                }
            }
            .more {
                justify-content: start;
                @include trans;
                &:hover {
                    color: var(--brown-cl);
                }
            }
            @include xs {
                margin-bottom: 50px;
            }
        }
    }
}

@include sm {
    .scproduct {
        &__product-item:nth-child(1) {
            .content {
                padding-right: 20px;
                padding-left: 0;
                .title {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
}

@include xs {
    .scproduct {
        &__product-item {
            padding-left: 0;
            &.--right {
                flex-direction: column;
                .content {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }
}

// scquality
.scquality {
    padding-bottom: 90px;
    @include sm {
        padding-bottom: 50px;
    }
    &__heading {
        max-width: var(--mw-heading);
        text-align: center;
        margin: 0 auto;
        position: relative;
        @include trans;
        &-title {
            &::after {
                content: "";
                position: absolute;
                left: 50%;
                display: block;
                width: 37px;
                border-top: 3px solid var(--brown-cl);
                transform: translateX(-50%);
            }
        }
        &-text {
            margin-top: 25px;
            margin-bottom: 57px;
        }
    }
    &__video {
        @include dflex;
        margin: 0 -15px;
        justify-content: space-evenly;
        &-item {
            flex-direction: column;
            text-decoration: none;
            position: relative;
            @include dflex;
            @include trans;
            margin: 0 15px;
            .thumb {
                position: relative;
                cursor: pointer;
                .img {
                    border: 1px solid #e6e6e6;
                    position: relative;
                    width: 205px;
                    height: 205px;
                    overflow: hidden;
                    border-radius: 50%;
                    border: 10px solid white;
                    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.15);
                    -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.15);
                    -moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.15);
                    @include trans;
                    @include xxs {
                        // width: 230px;
                        // height: 230px;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        position: absolute;
                        @include imgpst;
                    }
                }
                .play {
                    @include trans;
                    .--db {
                        position: absolute;
                        @include imgpst;
                        opacity: 1;
                        @include trans;
                    }
                    &:hover {
                        .--db {
                            opacity: 0.6;
                        }
                    }
                }
            }
        }
        .content {
            padding-top: 42px;
            font-size: 16px;
            font-family: "pr";
            color: var(--black-text);
            position: relative;
            @include trans;
            &::before {
                content: "";
                display: block;
                width: 20px;
                border: 1px solid var(--brown-cl);
                position: absolute;
                bottom: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

@include xs {
    .scquality {
        &__video {
            flex-direction: column;
            &-item {
                margin-bottom: 40px;
                .thumb {
                    position: relative;
                    cursor: pointer;
                    .img {
                        // width: 250px;
                        // height: 250px;
                    }
                    .play {
                        @include trans;
                    }
                }
            }
        }
    }
}

.popupvideo {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    @include dflex;
    @include trans;
    &__inner {
        width: 70%;
        height: 70%;
        max-width: 1200px;
        position: absolute;
        @include imgpst;
        @include xxs {
            width: 80%;
            height: 80%;
        }
        &-iframe {
            width: 100%;
            height: 0;
            padding-bottom: 56.25%;
            border: 5px solid $white-cl;
            position: absolute;
            @include imgpst;
            @include xs {
                border: 2px solid $white-cl;
            }
            iframe {
                position: absolute;
                @include imgpst;
                width: 100%;
                height: 100%;
            }
        }
        &-close {
            cursor: pointer;
            position: absolute;
            top: -13px;
            right: -13px;
            img {
                width: 25px;
                height: 25px;
                border-radius: 100%;
                background-color: $white-cl;
            }
        }
    }
    &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 10000000;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.9);
        @include dflex;
        @include trans;
        &__inner {
            width: 80%;
            height: 80%;
            max-width: 1200px;
            position: absolute;
            @include imgpst;
            &-iframe {
                width: 100%;
                height: 0;
                padding-bottom: 56.25%;
                border: 5px solid $white-cl;
                position: absolute;
                @include imgpst;
                iframe {
                    position: absolute;
                    @include imgpst;
                    width: 100%;
                    height: 100%;
                }
            }
            &-close {
                cursor: pointer;
                position: absolute;
                top: -13px;
                right: -13px;
                img {
                    width: 25px;
                    height: 25px;
                    border-radius: 100%;
                    background-color: $grey-cl;
                }
            }
        }
    }
}

// wooder
.scwooder {
    --pd-wooder: 180px 0 170px;
    padding: var(--pd-wooder);
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center;
    background-attachment: fixed;
    @include xs {
    background-attachment: initial;
    }
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        z-index: 9;
        width: 100%;
        height: 100%;
        background-color: var(--black-cl);
        opacity: 0.65;
    }
    &__heading {
        max-width: var(--mw-heading);
        color: var(--white-cl);
        position: relative;
        z-index: 11;
        &-title {
            letter-spacing: 1px;
            line-height: 50px;
            color: var(--brown-cl);
            text-transform: uppercase;
        }
        &-text {
            margin: 20px 0 44px;
        }
        &-btn {
            font-size: 12px;
            line-height: 47px;
            letter-spacing: 2.4px;
            text-decoration: none;
            color: var(--white-cl);
            font-family: pb;
            text-transform: uppercase;
            width: -moz-fit-content;
            width: fit-content;
            text-decoration: none;
            border: 1px solid var(--white-cl);
            padding: 0 55px;
            @include dflex;
            @include trans;
            .play {
                padding-right: 12px;
            }
            &:hover {
                background: var(--brown-cl);
            }
        }
    }
}

@include sm {
    .scwooder {
        --pd-wooder: 140px 0 130px;
        padding: var(--pd-wooder);
        // padding: var(--pd-section) !important;
        &__heading {
            .title-h3 {
                color: var(--brown-cl);
            }
            &-btn {
                line-height: 38px;
                padding: 0 20px;
            }
        }
    }
}

@include xs {
    .scwooder {
        --pd-wooder: 90px 0 100px;
        padding: var(--pd-wooder);
        &__heading {
            .title-h3 {
                color: var(--brown-cl);
            }
            &-btn {
                line-height: 38px;
                padding: 0 20px;
            }
        }
    }
}

// about
.scabout {
    &__product-item {
        justify-content: flex-start;
        padding-left: 0;
        .content {
            text-align: start;
            padding-left: 100px;
            padding-right: 0;
            .title {
                &::after {
                    display: block;
                }
            }
            .title {
                position: relative;
                &::after {
                    content: "";
                    width: 80px;
                    display: block;
                    border-bottom: 1px solid var(--black-cl);
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -100px;
                }
            }
        }
        .more {
            justify-content: start;
        }
    }
}

@include md {
    .scabout {
        &__product-item {
            .content {
                padding-right: 0;
                .title {
                    &::after {
                        display: block;
                    }
                }
            }
        }
    }
}

@include sm {
    .scabout {
        &__product-item {
            .content {
                padding-left: 20px;
                padding-right: 0;
                .title {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
}

@include xs {
    .scabout {
        &__product-item {
            .content {
                padding-left: 0;
                .title {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
}

// scgallary
.scgallary {
    background: var(--black-cl);
    position: relative;
    &__heading {
        color: var(--white-cl);
        max-width: 445px;
        &-title {
            color: var(--white-cl);
        }
        &-text {
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0.4px;
            font-family: pr;
        }
    }
    &__img {
        cursor: pointer;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 200px 200px;
        gap: 11px;
        margin-top: 46px;
        @include xs {
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: 180px 180px 180px;
            gap: 5px;
            img {
                filter: grayscale(1);
            }
        }
        @include xxs {
            grid-auto-rows: 170px 170px 170px;
        }
        &-item {
            // display: flex;
            position: relative;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                @include imgpst;
                will-change: transform;
                @include trans;
                // filter: grayscale(1);
                &:hover {
                    transform: translate(-50%, -50%) scale(1.04);
                    filter: grayscale(0);
                    @include trans;
                }
            }
        }
        &-item:nth-child(3) {
            grid-column: 2/2;
            grid-row-start: 1;
            grid-row-end: 3;
        }
    }
    .more {
        &:hover {
            color: var(--brown-cl);
            background: var(--white-cl);
        }
    }
}

@include xs {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 180px 180px 180px;
    gap: 5px;
    img {
        filter: grayscale(1);
    }
}

// scnews
.scnews {
    color: var(--black-text);
    &__btn {
        @include dflex;
        justify-content: flex-start;
        padding-top: 40px;
        margin: 0 -10px;
        cursor: pointer;
        @include trans;
        &-item {
            margin: 0 10px;
            padding: 20px;
            height: 30px;
            @include dflex;
            font-family: pb;
            background-color: $grey-cl;
            &.active {
                @include trans;
                background-color: var(--brown-cl);
            }
            &:hover {
                @include trans;
                opacity: 0.7;
            }
        }
    }
    .list-wrap {
        .scnews__list {
            display: none;
            visibility: hidden;
            @include trans;
            pointer-events: none;
            // display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
            margin-top: 46px;
            gap: 25px;
            @include sm {
                gap: 12px;
            }
            &-item {
                .img {
                    position: relative;
                    display: block;
                    width: 100%;
                    height: 0;
                    padding-bottom: 65%;
                    overflow: hidden;
                    @include trans;
                    img {
                        position: absolute;
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        @include imgpst;
                        will-change: transform;
                        @include trans;
                    }
                    &:hover {
                        img {
                            transform: translate(-50%, -50%) scale(1.03);
                            @include trans;
                        }
                    }
                }
                .content {
                    position: relative;
                    .title {
                        text-decoration: none;
                        margin-bottom: 14px;
                        cursor: pointer;
                        font-size: var(--fs18);
                        font-family: pb;
                        line-height: 24px;
                        letter-spacing: 0.36px;
                        color: var(--black-cl);
                        text-transform: uppercase;
                        min-height: 95px;
                        @include trans;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        display: -webkit-box;
                        &::before {
                            content: "";
                            display: block;
                            border-bottom: 3px solid var(--brown-cl);
                            max-width: 85px;
                            position: relative;
                            margin: 24px 0 20px 0;
                        }
                        @include xs {
                            display: inherit;
                            min-height: inherit;
                        }
                    }
                }
                .text {
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    display: -webkit-box;
                    @include xs {
                        display: inherit;
                    }
                }
            }
            &.active {
                display: block;
                visibility: visible;
                @include trans;
                pointer-events: auto;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 1fr;
                margin-top: 46px;
                gap: 25px;
                @include sm {
                    gap: 12px;
                }
                &-item {
                    .img {
                        position: relative;
                        display: block;
                        width: 100%;
                        height: 0;
                        padding-bottom: 65%;
                        overflow: hidden;
                        @include trans;
                        img {
                            position: absolute;
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            @include imgpst;
                            will-change: transform;
                            @include trans;
                        }
                        &:hover {
                            img {
                                transform: translate(-50%, -50%) scale(1.03);
                                @include trans;
                            }
                        }
                    }
                    .content {
                        position: relative;
                        .title {
                            text-decoration: none;
                            margin-bottom: 14px;
                            cursor: pointer;
                            font-size: var(--fs18);
                            font-family: pb;
                            line-height: 24px;
                            letter-spacing: 0.36px;
                            color: var(--black-cl);
                            text-transform: uppercase;
                            min-height: 95px;
                            @include trans;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            display: -webkit-box;
                            &::before {
                                content: "";
                                display: block;
                                border-bottom: 3px solid var(--brown-cl);
                                max-width: 85px;
                                position: relative;
                                margin: 24px 0 20px 0;
                            }
                        }
                    }
                    .text {
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        display: -webkit-box;
                    }
                }
            }
        }
    }
}

@include xs {
    .scnews {
        &__btn {
            padding-top: 40px;
            margin: 0 -5px;
            &-item {
                margin: 0 5px;
                padding: 15px;
            }
        }
        .list-wrap {
            .scnews__list {
                &.active {
                    // &__list {
                    grid-template-columns: 1fr;
                    grid-auto-rows: repeat(1fr, 3);
                    &-item {
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
}

// accordion
.accordion {
    background-color: var(--black-cl);
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .title-h3 {
        color: var(--white-cl);
        font-size: 30px;
        @include xs {
            font-size: 20px;
            line-height: normal;
            margin-bottom: 20px;
        }
        span {
            color: var(--brown-cl);
        }
    }
    .accordion__list {
        width: 100%;
        margin: -10px 0;
        .accordion__list-item {
            margin: 10px 0;
            .title {
                background-color: (var(--white-cl));
                display: block;
                font-size: var(--fs);
                font-family: pb;
                color: var(--grey-cl);
                cursor: pointer;
                padding: 20px;
                border-radius: 3px;
                @include trans;
                @include xxs {
                    font-size: var(--fs);
                }
            }
            .panel {
                max-height: 0;
                overflow: hidden;
                @include trans;
                padding: 0 36px 0 56px;
                padding: 0 20px;
                margin-top: 10px;
                @include xxs {
                    padding: 0 10px 0 15px;
                }
            }
        }
    }
}

// album-img
.album-img {
    width: 100%;
    overflow: hidden;
    max-width: initial;
    // margin: 0 -10px;
    img {
        margin: 0 10px;
        object-fit: cover;
        height: 400px;
    }
}

.slider-wrapper {
    // padding-bottom: 70px;
    .progress {
        position: relative;
        margin: 0 auto;
        width: 40%;
        height: 8px;
        border-radius: 4px;
        background-color: var(--grey-cl);
        top: -25px;
        .progress-bar-album {
            position: absolute;
            top: 0;
            left: 0;
            height: 8px;
            border-radius: 4px;
            width: 0%;
            background-color: var(--brown-cl);
        }
        @include sm {
            // padding-bottom: 50px;
        }
    }
    .carousel-progress {
    }
    .progress {
    }
}

@include sm {
    .album-img {
        img {
            height: 300px;
        }
    }
}
